header, nav, main {
    max-width: 1400px;
    margin: auto;
}

/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */

#hamburgerBtn {
    display: none;
}

nav ul, nav ul.open {
    display: flex;
    justify-content: flex-end;
    width: auto;
    position: static;
    border: none;
    box-shadow: none;

    li a {
        padding: 0.4rem 1rem;
        border: none;
    }

    li.active a {
        color: $navActiveColor;
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }

    a:hover, .active a:hover {
        color: $hoverColor;
    }

} // end ul


/* --------------------------- MAIN --------------------------- */

main {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 36px;
    }

    .sub-text {
        font-size: 20px;
    }
}// end main

.hero {

    div {
        top: 87%;

        h2 {
            font-size: 28px;
            width: 650px;
        }
    }
}// end hero

.cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/* --------------------------- FOOTER --------------------------- */

footer {

    .phone-number {

        a:hover {
            color: darken($backgroundColor, 10%);
        }
    }

    .addresses {

        .address {
            margin: 0 6rem;
        }
    }
}// end footer