#navWrapper {
    position: relative;
    z-index: 1000;
}

nav ul {
    position: absolute;
    right: $gutter;
    width: 200px;
    border-radius: 5px;
    text-align: right;
    margin: 0;
    padding: 0;
    display: none;
    background-color: white;

    li a {
        display: block;
        padding: 0.75rem $gutter;
        text-decoration: none;
    }
    
    li.active a {
        color: blue;
    }
} // end unordered

#primaryNav ul.open {
    display: block;
    z-index: 1;
} // end opened nav