/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */

#navWrapper {
    position: relative;
    z-index: 1000;
}

nav ul {
    position: absolute;
    right: $gutter;
    width: 200px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    display: none;
    background-color: $backgroundColor;
    
    box-shadow: 0 1px 7px rgba(0,0,0,0.3);

    li a {
        display: block;
        padding: 0.75rem $gutter;
        text-decoration: none;
    }
    
} // end unordered

#primaryNav ul.open {
    display: block;
    z-index: 1;
} // end opened nav


/* --------------------------- MAIN --------------------------- */

.hero {

    div {
        left: 0px;

        h2 {
            font-size: 24px;
            text-align: left;
            width: 150px;
        }
    }
}// end hero

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;

     .card {
        margin: 1rem;
     }
}

.sponsors {

    .sponsor-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        img {
            flex-basis: 50px;
        }
    }
}

/* --------------------------- FOOTER --------------------------- */

footer {

    .addresses {
        margin: 0 5rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: 66%;
        gap: 4rem;
    }
}// end footer