$backgroundColor: #FFF7EA;
$lineColor: #EBDEC7;
$fontColor: #1F1F1F;

$cardColor: #F4C678;
$titleColor: #FA564F;
$hoverColor: #B23F61;
$navActiveColor: #7D1E7B;
$footerColor: #0F0A3F;


$leading: 150%;

$gutter: 10px;